<div class="as-calendar-occurrence__container as-calendar-occurrence__type--{{or type "default"}}">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <div class="as-calendar-occurrence__content">
      {{log content}}
      <div class="as-calendar-occurrence__icons">
        {{#if content.customer}}
          <i class="fa fa-user" aria-hidden="true"></i>
        {{/if}}
        {{#if content.description}}
          <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        {{/if}}
        {{#if (not (eq content.bookingRepeat.type "none"))}}
          <i class="fa fa-repeat" aria-hidden="true"></i>
        {{/if}}
      </div>
      <div class="as-calendar-occurrence__title">{{title}} ({{moment-format content.bookingStartDate "HH:mm"}}
        - {{moment-format content.endsAt "HH:mm"}})
      </div>
    </div>
  {{/if}}

  {{#unless isInteracting}}
    {{#if isEditable}}
      <a {{action "edit" bubbles=false}} class="as-calendar-occurrence__edit"></a>
    {{/if}}
    {{#if isRemovable}}
      <a {{action "remove" bubbles=false}} class="as-calendar-occurrence__remove"></a>
    {{/if}}

    {{#if isResizable}}
      <div class="as-calendar-occurrence__resize-handle"></div>
    {{/if}}
  {{/unless}}
</div>
